---
import type { CardGameTypes } from "../../types/types";

type Props = CardGameTypes;
const { image, icon, title, description } = Astro.props;
---

<div class="lg:m-4">
  <div class="relative flex flex-col justify-center items-center">
    <img class="relative" src="/assets/game-info-frame-a.webp" />
    <img class="absolute hexagon w-[80%]" src={image} />
    <img class="absolute top-[6.2%] right-[10.5%] w-[16%]" src={icon} />
    <img class="absolute bottom-[6.2%] left-[9.8%] w-[16%]" src={icon} />
  </div>
  <div class="px-4 pt-4">
    <h2
      slot="title"
      class="font-normal text-[#fff4e2] text-center text-[1.575rem] lg:h-[80px] mb-2 leading-[1.2]"
    >
      {title}
    </h2>
    <p class="font-normal text-[#fff4e2] text-center text-4 leading-[1.4] mb-4">
      {description}
    </p>
  </div>
</div>
